
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

  body {
    background: #ffffff;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 70px;
  }
  

  /*---------------------------------------
    TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
    GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #5427f7;
    outline: none;
  }

  /* ::-webkit-scrollbar{
    width: 10px;
    height: auto;
  }


::-webkit-scrollbar-track {
  background: #f1f1f1;
}

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #888;
  }

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title small {
    display: block;
  }

  .overlay {
    background: rgba(5, 5, 5, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .entry-form {
    background: #51658d;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 450px;
    height: 450px;
  }

  .entry-form h2 {
    color: #000000;
    margin: 0;
  }

  .entry-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin: 10px 0;
  }

  .entry-form .submit-btn {
    background: #ffffff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    width: 50%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
  }

  .entry-form .submit-btn:hover {
    background: #a6cdc8;
    color: #ffffff;
  }

  section {
    position:relative;
    padding: 70px 0;
  }

  #team,
  #testimonial {
    background: #f9f9f9;
  }

  #team, 
  #testimonial {
    text-align: center;
  }
  
  #google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
  }



  /*---------------------------------------
    BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
  }

  .section-btn:hover {
    background: #ffffff;
    border-color: transparent;
  }



  /*---------------------------------------
      PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; /* Change the background color if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust the z-index based on your layout */
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    background:#ffffff;
    /* border-top: 5px solid #ffffff; */
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
  }

  .custom-navbar .navbar-brand {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
  }

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .navbar-nav.navbar-right li a .fa {
    background: #5427f7;
    border-radius: 100%;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
  }

  .custom-navbar .nav li a {
    line-height: 40px;
    color: #575757;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  /* .custom-navbar .nav li a:hover {
    background-color: #5427f7;
    color: #ffffff;
  }

  .custom-navbar .nav li.active > a {
    background-color: #5427f7;
    color: #ffffff;
  } */

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
  }



  /*---------------------------------------
      HOME  & SLIDER            
  -----------------------------------------*/

  #home {
    padding:0;
  }

  #home h1 {
    color: #ffffff;
  }

  #home h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
  }

  @media (min-width: 768px) {
    .home-slider .col-md-6 {
      padding-left: 0;
    }
  }

  .home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor:grab;
  }

  .home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    height: 700px;
  }
  
  .caption h3 a { color: #FFF; }
  .caption h3 a:hover { color: rgb(255, 22, 22) } 

  .home-slider .item-first {
    background-image:  url(../Images/bgg2.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    
  }

  .home-slider .item-second {
    background-image: url(../Images/back1.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  .home-slider .item-third {
    background-image: url(../Images/bgg3.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  /* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .home-slider .col-md-6 {
      padding-left: 15px; /* Adjust padding for smaller screens */
  }
  
  .home-slider .item {
      height: 90vh; /* Adjusted height for mobile screens */
  }
}
  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  .feature-thumb {
    border: 1px solid #f0f0f0;
    padding: 5em 3em;
  }

  .feature-thumb span {
    background: #5427f7;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
  }

  .feature-thumb h3 {
    margin: 10px 0;
  }



  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about figure {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }

  #about figure span {
    float: left;
    margin-left: -15px;
    padding: 15px 20px;
    position: relative;
    top: 20px;
  }

  #about figure span i {
    background: #316195;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }



  /*---------------------------------------
      TEAM              
  -----------------------------------------*/

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
  }

  .team-info {
    padding: 20px 30px;
  }

  .team-image img {
    width: 100%;
    padding: 10px ;
    transform: scale(1.1);
  }

  .team-thumb .social-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
  }

  .team-info h3 {
    margin: 0;
  }


  /*---------------------------------------
      COURSES             
  -----------------------------------------*/

  #courses .section-title {
    text-align: center;
  }

  #courses .owl-theme .owl-nav {
    margin-top: 20px;
  }

  #courses .owl-theme .owl-nav [class*=owl-] {
    border-radius: 2px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }

  .courses-thumb {
    background: #f9f9f9;
    position: relative;
  }

  .courses-top {
    position: relative;
  }

  .courses-image {
    background: linear-gradient(to right, #202020, #101010);
  }

  .courses-date {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
  }

  .courses-date span,
  .courses-author span {
    font-size: 14px;
    font-weight: bold;
  }

  .courses-date span {
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
  }

  .courses-detail {
    padding: 25px 25px 15px 25px;
  }

  .courses-detail h3 {
    margin: 0 0 2px 0;
  }

  .courses-info {
    border-top: 1px solid #f0f0f0;
    position: relative;
    clear: both;
    padding: 15px 25px;
  }

  .courses-author,
  .courses-author span {
    display: inline-block;
    vertical-align: middle;
  }

  .courses-author img {
    display: inline-block !important;
    border-radius: 50px;
    width: 50px !important;
    height: 50px;
    margin-right: 10px;
  }

  .courses-price {
    float: right;
    margin-top: 10px;
  }

  .courses-price span {
    background: #5427f7;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
  }

  .courses-price.free span {
    background: #5427f7;
  }


  /*---------------------------------------
      TESTIMONIAL             
  -----------------------------------------*/

  #testimonial .item {
    background: #ffffff;
    margin: 20px 0;
    padding: 4em 3em;
    text-align: left;
  }

  #courses .col-md-4,
  #testimonial .col-md-4 {
    display: block;
    width: 100%;
  }

  #testimonial .item > p {
    font-size: 16px;
    line-height: 26px;
  }

  .tst-rating {
    margin-bottom: 15px;
  }

  .tst-rating .fa {
    color: #5427f7;
  }

  .tst-image,
  .tst-author {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: left;
  }

  .tst-image img {
    border-radius: 50px;
    width: 60px !important;
    height: 60px;
    margin-right: 15px;
  }

  .tst-author h4 {
    margin: 0;
  }

  .tst-author span {
    color: #808080;
    font-size: 14px;
  }

/*=================footer css start==============*/
.webintern-footer {
  background: #316195;
  }
  
  .webintern-footer-inner {
  padding-top: 60px;
  padding-bottom: 50px;
  }
  
  .webintern-footer-logo {
  display: inline-block;
  }
  
  .webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
  }
  .simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
  }
  
  .webintern-footer .webintern-footer-inner .simple-text a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: rgb(242, 26, 26);
  font-size: 15px;
  }
  .footer-2 {
  padding-left: 55px;
  }
  .webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 25px;
  }
  .webintern_footer_title small {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  }
  .webintern_footer_title:after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: rgb(255, 0, 0);
  margin-top: 15px;
  }
  .webintern-footer-list {
  padding: 0;
  }
  .webintern-footer-list li {
  margin-bottom: 17px;
  list-style: none;
  }
  .webintern-footer-list a {
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding-left: 0;
  letter-spacing: 0.20px;
  font-family: 'Open Sans', sans-serif;
  }
  .webintern-footer-list li:hover{
    color: #000;
  }
  .webintern-footer-list a:hover{
    color: rgb(188, 13, 13)616;
  }
  .footer-3 {
  padding-left: 65px;
  }
  .webintern-footer-inner .simple-text.last {
  color: #d5d5d5;
  font-size: 17px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  }
  /* .tt-subscribe {
  position: relative;
  }
  .tt-subscribe input:not([type="submit"]) {
  width: 100%;
  height: 46px;
  background: #fff;
  font-size: 15px;
  color: #838486;
  padding-left: 20px;
  padding-right: 70px;
  border: 2px solid #fff;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  }
  .tt-subscribe-submit {
  background: #001b57;
  }
  
  .tt-subscribe-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 46px;
  font-size: 18px;
  line-height: 46px;
  color: #2a2a2a;
  text-align: center;
  background: #001b57;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  }
  
  
  .tt-subscribe-submit i.fa-envelope:before {
  content: "\f0e0";
  position: relative;
  z-index: 1;
  color: #fff;
  }
  .tt-subscribe-submit input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #51658d;
  border: 0;
  }
  ul.tt-social {
  padding: 0;
  margin-top: 30px;
  }
  .tt-social li {
  display: inline-block;
  margin-right: 10px;
  }
  .tt-social a {
  display: block;
  width: 36px;
  height: 36px;
  font-size: 17px;
  line-height: 34px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #fff;
  -moz-border-radius: 100%;
  border-radius: 100%;
  } */
  .webintern_footer_title small {
      font-family: 'Work Sans', sans-serif;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
  }
  /* .tt-copy
  {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  background: #ffffff;
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
  }
  .tt-copy-right {
  text-align: right;
  } */
  
  /* Responsive Styles */
@media (max-width: 767px) {
  .webintern-footer .footer-2,
  .webintern-footer .footer-3 {
      margin-bottom: 15px; /* Adjust spacing for smaller screens */
  }
  
  .webintern-footer-list a {
      font-size: 14px; /* Decrease font size for smaller screens */
  }
}

@media (max-width: 991px) {
  .webintern-footer .webintern-footer-inner {
      padding-top: 40px;
      padding-bottom: 30px;
  }
}


  /*---------------------------------------
    SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #5427f7;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #5427f7;
    color: #ffffff;
  }



  /*---------------------------------------
    RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }

  @media only screen and (max-width: 992px) {
    section,
    footer {
      padding: 40px 0;
    }

    .home-slider .item {
      background-position: center center;
    }

    .feature-thumb,
    .about-info,
    .team-thumb,
    .footer-info {
      margin-bottom: 50px;
    }

    .contact-image {
      margin-top: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .navbar-brand,
    .custom-navbar .nav li a {
      line-height: normal;
    }

    .custom-navbar .nav li a {
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .footer-info {
      margin-right: 0;
    }

    .footer-info.newsletter-form {
      margin-bottom: 0;
    }

    .entry-form {
      display: block;
      margin: 0 auto;
    }
  }


  @media only screen and (max-width: 580px) {
    h2 {
      font-size: 1.8em;
    }

    #testimonial .item {
      padding: 2em;
    }

    .contact-image {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 2em;
    }

    #home h3 {
      font-size: 14px;
    }

    .entry-form {
      border-radius: 0;
      padding: 2em;
      max-width: 100%;
      max-height: 100%;
      width: inherit;
      height: inherit;
    }
  }


/* Our Team */

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.cont {
  padding: 0 16px;
}

/* Clear floats */
.cont::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


/* view more button */
.view-more-btn {
  background-color: #316195;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* float: right;  */
  transition: background-color 0.3s;
}

.view-more-btn:hover {
  background-color: #2980b9;
}


/*** Service ***/
.service-item {
  background: var(--light);
  transition: .5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--light) !important;
}


.image_gallery{
  margin: 10px 50px;
}
.image_gallery img{
  width: 230px;
  padding: 5px;
  /* filter: grayscale(); */
  transition: 1s;
}

.image_gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}


.single_image_display {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}
.image_content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}


/* General Styles */
.blog-home2 {
  background-color: #f8f9fa; /* Adjust background color as needed */
}

.blog-home2 h3 {
  color: #333; /* Adjust heading color */
  padding: 20px;
}

.subtitle {
  color: #666; /* Adjust subtitle color */
}

/* Event Cards */
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.date-pos {
  background: linear-gradient(135deg, #007bff, #6610f2); /* Gradient background */
}

.date-pos span {
  font-size: 18px;
}

/* Event Details */
.font-weight-medium {
  color: #333; /* Adjust text color */
}

.card h5{
  padding: 20px;
}

.card p {
  padding: 0 20px 0 20px;
  color: #666; /* Adjust paragraph text color */
}

.linking {
  color: #007bff; /* Adjust link color */
}

.linking:hover {
  text-decoration: underline;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .col-md-4 {
      margin-bottom: 20px;
  }
}
